.containerHome {
  height: 100%;
  width: 100%;
}

.homeTitle,
.homeSubtitle {
  margin-left: 5%;
  font-size: 18px;
  font-weight: bold;
}

.homeSubtitle {
  color: #004A96;

}

.homeTextSubtitle {
  font-size: 14px;
  text-align: justify;
  margin: 5%;
}

.homeInfosContainer {
  margin: 5%;
  font-size: 14px;
  text-align: justify;
}




.paragrafoTasa {
  font-size: 14px;
  text-align: justify;
}

.automotiveEmail {
  color: #000;
  font-weight: bold;
  font-size: 16px;
  text-decoration: underline;
}

.spanAzul {
  color: #004A96;
  font-weight: bold;
}

.carroVirtual {
  width: 100%;
  background-image: url(../assets/Automovel.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
  height: 150px;

}

.descCarroVirtual {
  width: 90%;
}

.descCarroVirtual h1 {
  font-size: 14px;
  text-align: justify;
  padding: 20px 0 0 10px;
}

.descCarroVirtual h1 a {
  color: #000;
  text-decoration: underline;
}


@media (min-width: 600px) {

  .homeTitle {
    font-size: 32px;
    margin-top: 80px;
  }

  .homeSubtitle {
    font-size: 28px;
    margin-top: 20px;
  }

  .homeTextSubtitle {
    font-size: 18px;
    margin-top: 30px;
  }

  .homeInfosContainer {
    font-size: 18px;
  }


  .paragrafoTasa {
    font-size: 18px;
  }

  .carroVirtual {
    margin: 8% 0 0 0;
    padding: 3% 6%;
    text-align: right;
    background-image: url(../assets/Automovel.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    height: 350px;
  }

  .descCarroVirtual {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 500px;
    font-size: 20px;
    line-height: 1.3;
  }

  .descCarroVirtual h1 {
    font-size: 28px;
    font-weight: bold;
    text-align: left;
  }
}

@media (min-width: 1300px) {
  .homeInfosContainer {
    font-size: 18px;
    margin-top: -60px;
  }

  .gridVideos {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 0px !important;
    column-gap: 40px !important;
    width: 100%;
  }

  .videos {
    margin: 2% 0% 5% 0;
  }

  .videosMobility {
    height: 380px;
    /*era 420px*/
    width: 680px !important;
  }


  .carroVirtual {
    margin: 2% 0 0 0;
    padding: 3% 6%;
    text-align: right;
    background-image: url(../assets/Automovel.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    height: 450px;
  }

  .descCarroVirtual h1 {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
  }
}