/* CSS para Notebook */

.spanVerde {
  font-weight: bold;
  color: #00793A;
}

#homeCirculai2 span {
  display: none !important;
}

#homeCirculai2::after {
  content: 'PROGRAMA CIRCULAÍ' !important;
}

.conteudo {
  /* NO MAIN */
  box-sizing: border-box;
  width: 80vw;
  margin: 60px 50px;
}



/* ----------------- INTRODUCAO CSS ----------------- */

#introCirculai {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin-top: 40px;
  background-color: #e8f3ed;
  width: 700px;

}

#introCirculai #circulai {
  display: flex;
  width: 700px;
}

#introCirculai div div {
  display: flex;
  flex-direction: column;
}

#introCirculai .introCirculaImg {
  height: 300px !important;
  width: 300px !important;
  margin: 50px 0 !important;
  display: inline-block !important;
}


#introCirculai p {
  width: 100%;
  line-height: 1.2em;
  font-size: 18px;
  color: #000000;
  /* font-weight: 540; */
}

/* ----------------- INTRODUCAO CSS ----------------- */




/* ----------------- ECONOMIA CIRCULAR CSS ----------------- */
#economiaCircular {
  margin-top: -450px;
  margin-left: 780px;
  /* height: 100px; */
  width: 350px;
  display: flex;
  flex-direction: row;
}



/* .principaisDesafios{
  width: 50%;
  margin-right: 50px;
} */

.principaisDesafios p {
  font-size: 18px;
}

.economiaCircularResumo {
  display: flex;
  flex-direction: column;
  background-color: #cfe0d7;
  margin-left: 300px;
  margin-top: -200px;
  width: 430px;
  height: 250px;
  padding: 10px;
  /* z-index: 99; */
}

.economiaCircularResumo p {
  font-size: 18px;
}

/* ----------------- ECONOMIA CIRCULAR CSS ----------------- */



/* ----------------- COMO FUNCIONA O CIRCULAÍ CSS ----------------- */
#comoFunciona {
  margin-top: 200px;
  margin-left: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}



/* #comoFunciona img{
  height: 700px;
  width: 700px;
} */

.conteudoUltramid {
  display: flex;
  flex-direction: row;
}

.conteudoUltramid>div>p {
  font-size: 18px;
  margin-bottom: 20px;
}

.conteudoUltramid .conteudoUltraImg {
  margin-left: 100px !important;
  height: 500px !important;
  width: 500px !important;
}

/* ----------------- COMO FUNCIONA O CIRCULAÍ CSS ----------------- */


/* ----------------- COMO FAZER PARTE DO CIRCULAÍ CSS ----------------- */

.topicos {
  display: flex;
  justify-content: flex-start;
  /* flex-direction: column; */
  background-color: #e8f3ed;
  margin-top: 30px;
  margin-bottom: 20px;
  height: 420px;
  width: 600px;
}


.topicos2 {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  /* flex-direction: column; */
  background-color: #e8f3ed;
  margin-top: -6px;
  margin-bottom: 20px;
  height: 160px;
  width: 600px;
}

.topicos2 .numeroTopico {
  height: 120px;
  margin-top: 20px;
}

.numeroTopico {
  background-color: #cfe0d7;
  padding: 10px 20px;
  /* border-radius: 50%; */
  color: #00793A;
  font-weight: bold;
  font-size: 28px;
  height: 140px;

}

#tituloTopico2 {
  color: #00793A;
  padding-left: 18px;
  font-weight: bold;
  margin-top: -140px;
  margin-left: 40px;
}

#containerTopicosCirculai {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  /* height: max-content; */
}

.divTopicosCirculai {
  margin-right: 10px;
  width: 70%;
}

#listaCirculai {
  margin-left: -45px;
  /* font-weight: bolder; */

  width: 100%;
  color: #000000;
}

#listaCirculai li {
  margin-top: 30px;
  font-size: 20px;
}

.vantagensUltramidA3 {
  background-color: #00793A;
  margin-left: 80px;
  margin-top: 150px;
  height: fit-content;
  width: 120%;
}

.vantagensUltramidA3 p {
  font-size: 24px;
  padding: 20px;
}

.assuntoPrincipal {
  font-size: 18px;
  margin-left: 80px;
  margin-top: -360px;
  line-height: 1.2;
  width: 70%;
}

/* ----------------- COMO FAZER PARTE DO CIRCULAÍ CSS ----------------- */


/* ----------------- CIRCULARIDADE E RECICLAGEM CSS ----------------- */


#circularidadeReciclagem {
  margin-top: -500px;
  margin-left: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  height: 450px;
  background-color: #cfe0d7;
}

.conteudoCircularidade {
  display: flex;
  flex-direction: row;
  padding: 20px;
  /* width: 100%; */
}



.conteudoCircularidade h1 {
  text-align: justify;
  color: #000000;
  font-weight: bolder;
  font-size: 32px;
  margin-top: 90px;
  margin-left: 80px;
}


.conteudoCircularidade div p {
  font-size: 18px;
  width: 40%;
  margin-left: 80px;
}


.conteudoCircularidade .conteudoCirculaImg {
  margin-left: 380px !important;
  margin-top: -350px !important;
  height: 400px !important;
  /* width: 400px !important; */
}

/* ----------------- CIRCULARIDADE E RECICLAGEM CSS ----------------- */

#ultramid {
  background-color: #cfe0d7;
  margin-top: 150px;
  margin-left: 40px;
  width: 60%;
  margin-bottom: -100px;
}

#ultramid h1 {
  color: #00793A;
  font-size: 26px;
  font-weight: bold;
  margin-left: 40px;
  padding-top: 40px;
}

#ultramid #poliamida {
  background-color: #00793A;
  color: #ffffff;
  width: 30%;
  margin-left: 40px;
  padding: 10px;
  font-weight: bold;
}

.conteudoUltramidBox {
  margin-top: 20px;
  width: 80%;
  margin-left: 40px;
  font-size: 18px;
}

#imagemUltramid {
  margin-left: 700px;
  margin-top: -350px;
}



#detalhesUltramid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  /* height: 500px; */
  width: 112%;
  background-color: #e8f3ed;
}

#detalhesUltramid .imgsUltramid {
  width: 100% !important;
}

#ultramidA3,
#ultramidB3 {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

.detalhesProduto {
  width: 80%;
}

.detalhesProduto p {
  width: 80%;
  margin-left: 50px;
}

.detalhesProduto ul {
  width: 80%;
  margin-top: 20px;
  margin-left: 60px !important;
}

.detalhesProduto h1 {
  color: #00793A;
  margin-left: 50px;
  font-weight: bold;
  margin-top: 10px;
}



.imagensUltramid {
  display: grid;
  grid-template-columns: auto auto;
  width: 70%;
  gap: 10px;
  height: 238px;
  margin: 20px;
}

#ultramidB3 .imagensUltramid {
  margin-left: 50px;
}

#brochuraUltramidDownload {
  background-color: #00793A;
  padding: 20px !important;
  margin: 30px 0 !important;
  font-weight: bold;
  font-size: 18px;
  color: #fff;
}


@media (max-width: 480px) {


  /* ======================== HEADER ============================= */

  #homeCirculai2 span {
      display: none !important;
  }

  #homeCirculai2::after {
      content: 'CIRCULAÍ' !important;
  }

  /* #headerCirculai{
      background-image: url("../assets/banner-automotive-mobile.png");
      background-size: 100%;
      background-position-x: center;
      background-position-y: center;
      background-repeat: no-repeat;
      min-width: 100vw;
      height: 100px;
  } */
  #logo {
      display: none;
  }

  /* ======================== HEADER ============================= */


  /* ======================== INTRO CIRCULAI ============================= */
  #introCirculai {
      width: 370px;
      margin-top: -2px;
      height: 300px;
      margin-left: -40px;
  }

  #introCirculai #circulai {
      width: 200px;
  }

  #introCirculai .introCirculaImg {
      height: 150px !important;
      width: 150px !important;
  }

  #circulai div h1 {
      margin-left: 30px !important;
      font-size: 16px;
  }

  #introCirculai p {
      width: 70% !important;
      margin-left: 25px !important;
      line-height: 1em;
      font-size: 12px !important;
      color: #000000;
      text-align: justify !important;
  }

  /* ======================== INTRO CIRCULAI ============================= */


  /* ======================== ECONOMIA CIRUCLAR ============================= */
  .economiaCircularResumo {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #cfe0d7;
      margin-left: 20px;
      margin-top: -100px;
      width: 100%;
      height: 100%;
      padding: 10px;
  }

  .economiaCircularResumo h1 {
      font-size: 12px !important;
      margin-top: 10px;
      font-weight: bold;
      text-align: left;
      width: 100%;
  }

  .economiaCircularResumo p {
      font-size: 12px !important;
      margin-top: -5px;
      width: 90%;
      margin-left: -20px;
      text-align: justify;
  }

  #economiaCircular {
      margin-left: -40px !important;
      margin-top: 50px;
      /* width: 150px; */
      width: 100%;
  }


  /* ======================== ECONOMIA CIRCULAR ============================= */

  /* ======================== PRINCIPAIS DESAFIOS ============================= */

  .principaisDesafios h1 {
      font-size: 14px !important;
      /* text-align: left !important; */
  }

  .principaisDesafios p {
      font-size: 12px !important;

  }

  /* ======================== PRINCIPAIS DESAFIOS ============================= */

  /* ======================== IMAGEM CICLO ULTRAMID ============================= */

  .conteudoUltramid .conteudoUltraImg {
      display: none !important;
  }

  /* ======================== IMAGEM CICLO ULTRAMID ============================= */


  /* ======================== COMO FUNCIONA O CIRCULAI ============================= */

  .conteudoUltramid div h1 {
      font-size: 16px !important;
      margin-left: -30px;
      width: 100%;
      margin-top: -100px;
  }

  .conteudoUltramid div p {
      font-size: 12px !important;
      overflow-wrap: break-word;
      margin-left: -40px;
      width: 80%;
      height: auto;
  }

  .conteudoUltramid div {
      margin-left: 0 !important;
      padding: 0 !important;
      height: 100%;
      width: 100vw;
  }

  #videoCirculai {
      margin-left: -45px;
      width: 85% !important;
  }

  /* ======================== COMO FUNCIONA O CIRCULAI ============================= */


  /* ======================== COMO FAZER PARTE DO CIRCULAI ============================= */

  .divTopicosCirculai {
      margin-left: -40px !important;
      width: 300px !important;

  }

  .divTopicosCirculai h1 {
      font-size: 16px !important;
      width: 100%;
  }

  .topicos {
      width: 100%;
  }

  #tituloTopico {
      font-size: 15px !important;
  }

  .assuntoPrincipal {
      font-size: 12px !important;
      margin-top: -380px;
      margin-left: 60px;
      /* height: 30px; */
  }

  #listaCirculai li {
      font-size: 14px !important;
      width: 100%;
      margin-left: -30px !important;
  }

  #listaCirculai p {
      margin-left: -10px;
      width: 100%;
      margin-bottom: 10px !important;
  }

  .topicos2 {
      width: max-content !important;
      height: auto !important;

  }

  #tituloTopico2 {
      margin-top: 20px;
      width: 60%;
      margin-bottom: 20px !important;
      text-align: left;
      margin-left: -10px;
      height: 100%;
      font-size: 14px !important;
  }

  #assunto2,
  #assunto2 a {
      margin-left: 10px !important;
      font-size: 12px !important;
      width: 90% !important;
      padding-top: 30px;
      text-align: justify;
  }

  /* ======================== COMO FAZER PARTE DO CIRCULAI ============================= */

  /* ======================== CIRCULARIDADE E RECICLAGEM ============================= */

  #circularidadeReciclagem {
      margin-left: -40px;
      margin-top: 100px;
      width: 390px;
      height: 400px;
  }

  .conteudoCircularidade div h1 {
      font-size: 16px !important;
      margin-left: 20px;
  }

  .conteudoCircularidade div p {
      font-size: 14px !important;
      margin-left: 18px;
  }

  .conteudoCircularidade div .conteudoCirculaImg {
      height: 400px !important;
      width: 200px !important;
      margin-left: 190px !important;
      margin-top: -310px !important;
      object-fit: contain !important;
  }

  /* ======================== CIRCULARIDADE E RECICLAGEM ============================= */


  /* ======================== IMAGEM ULTRAMID ============================= */
  #imagemUltramid {
      margin-left: 30px;
      height: 350px;
      width: 350px;
      margin-top: -50px;
      object-fit: contain;
  }

  /* ======================== IMAGEM ULTRAMID ============================= */


  /* ======================== BOX ULTRAMID ============================= */

  #ultramid {
      height: 100%;
      width: 90%;
      margin-left: -40px;
      margin-top: 50px;
  }

  #ultramid h1 {
      font-size: 16px !important;
      margin-top: -20px;
      margin-left: 20px;
  }

  #poliamida {
      font-size: 14px !important;
      width: 50% !important;
      margin-top: -20px;
      margin-left: 20px !important;
  }

  .conteudoUltramidBox {
      font-size: 12px !important;
      margin-top: 20px;
      margin-left: 20px !important;
  }

  /* ======================== BOX ULTRAMID ============================= */

  /* ======================== DETALHES ULTRAMID ============================= */

  #detalhesUltramid {
      margin-top: -10px !important;
      height: 100%;
      width: 115%;
      margin-left: -40px;
  }

  #ultramidA3 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 !important;
  }

  .detalhesProduto h1 {
      font-size: 16px !important;
      width: 100%;
      margin-left: 20px;
  }

  .detalhesProduto p {
      font-size: 14px !important;
      width: 100%;
      margin-left: 20px;
  }

  .detalhesProduto ul {
      font-size: 14px !important;
      width: 100%;
      margin-left: 35px !important;
  }

  .imagensUltramid {
      width: 90%;
      height: 238px;
  }

  #ultramidB3 {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      margin: 0 !important;
  }

  #ultramidB3 .imagensUltramid {
      margin-left: 20px;
  }

  /* ======================== DETALHES ULTRAMID ============================= */

  /* ======================== BOTAO DOWNLOAD ============================= */

  #brochuraUltramidDownload {
      font-size: 14px !important;
      margin-top: 10px !important;
      height: 100% !important;
      padding: 10px !important;
      text-align: center;
      color: #fff !important;
  }

  /* ======================== BOTAO DOWNLOAD ============================= */
}


@media (min-width: 1290px) {
  .conteudo {
      /* NO MAIN */
      box-sizing: border-box;
      width: 80vw;
      margin: 50px auto;
  }

  #economiaCircular {
      margin-left: 890px;
  }

  #comoFunciona {
      margin-left: 0px;
      /* gap: 600px; */
  }

  #comoFunciona p {
      width: 600px;
  }

  #videoCirculai {
      width: 600px;
  }

  /* .conteudoUltramid img{
          margin-right: -100px !important;
      } */

  .assuntoPrincipal {
      overflow-wrap: break-word;
      width: 600px !important;

  }

  .topicos,
  .topicos2 {
      width: 700px !important;
  }

  #tituloTopico2 {
      margin-top: 20px !important;
      margin-left: 5px !important;
  }

  #circularidadeReciclagem {
      /* margin-right: -100px !important; */
      width: 790px;
  }

  .conteudoCircularidade .conteudoCirculaImg {
      margin-left: 572px !important;
  }

  .conteudoCircularidade p,
  .conteudoCircularidade h1 {
      margin-left: 200px !important;
  }

  #imagemUltramid {
      margin-left: 800px;
      height: 300px;
  }

  .detalhesProduto h1 {
      margin-top: 30px;
  }

  #brochuraUltramidDownload {
      margin-top: 150px !important;
  }

}